
// Vaccine colors
$gunmetal: #1f242d;

// Media Breakpoints
$narrow-desktop: "64rem";
$mobile: "only screen and (max-width: 500px)";
$tablet: "only screen and (max-width: 700px)";
$desktop:"only screen and (min-width: 701px)";
$phablet: "only screen and (max-width: 650px)";



/*
Media Queries for usage 
				@media #{$mobile} for mobile
				@media #{$tablet} for table
 Breakpoints at 
	Mobile at 500px
	Table 	800px 
*/

// foot
.foot {
	background: #010915;
	color: #bdbdbd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	text-align: left;

	@media (max-width: $narrow-desktop) {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.foot-content {
		font-weight: 500;
		font-size: 1.6vh;
		padding: 2.55vh 0;
		width: 80%;
		line-height: 1.5;
		
		@media (max-width: $narrow-desktop) {
			margin-top: 1vh;
			width: 100%;
		}
	}
	
	.foot-copyright {
		// @include flex(flex-end, row);
		width: 11%;
		max-width: 13rem;
		font-size: 2vh;
		display: flex;
		font-weight: 400;
		align-items: center;
		justify-content: space-between;
		// border: 2px solid orange;
		
		@media (max-width: $narrow-desktop) {
			// width: 3rem;
			// min-width: 2.5rem;
		}
		
		p {
			text-align: center;
			
			@media (max-width: $narrow-desktop) {
				text-align: center;
				margin-bottom: 1rem;
			}
		}

		.github-logo {
			margin-right: 1rem;
			width: 2.1rem;
			height: 2.1rem;

			@media (max-width: $narrow-desktop) {
				// margin: 0;
				margin-bottom: 1rem;
			}
		}
	}
}