html {
  background-color: #171E28;
}

.App {
  text-align: center;
  background: #171E28;
  height: 100%;
  
  .App-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 53%;
    height: 50vh;
    max-width: 1024px;
    margin-top: 3rem;

    .img-wrapper {
      width: 35%;
      
      .phone {
        width: 100%;
      }
    }

    .form-wrapper {
      width: 50%;

      .description {
        margin-top: 0;
        color: white;
        text-align: left;
        font-size: 2.2rem;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        background: #1F242D;
        border-radius: 10px;

        .form-input {
          margin-top: 3rem;
          border: none;
          text-decoration: none;
          text-align: left;
          border-radius: 10px;
          height: 60px;
          width: 80%;
          font-size: 2rem;
          color: #1F242D;
          padding-left: .5rem;
        }

        .btn-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          width: 100%;

          .submit-btn {
            margin: 3rem 0;
            margin-left: 2.3rem;
            border: none;
            border-radius: 15px;
            color: white;
            background: #F4B000;
            height: 60px;
            width: 67%;
            font-size: 1.8rem;
          }
        }

      }
    }
  }
}