$border-radius: 0.5rem;
$form-element-height: 8%;
$narrow-desktop:  64rem; // 64rem

.App {
  
  .collapse-nav-container{

    .collapse-nav{
      // border: 2px solid red;
      // height: 10vh;
      // width: 100%;
      margin-top: -40vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size:1.8rem;
      z-index: 2;

      .collapse-nav-link {
        text-decoration: none;
        color: #f4f4f4;
        // font-weight: 600;
        margin-left: 1.8vh;
        font-size: 1.8rem;
        
        &:hover{
          color: #F4B000;
        }
      }

      #sms-btn {
        // border: 1px solid #f4f4f4;
        padding: .5rem .9rem;
        border-radius: .4rem;
  
        &:hover{
          border-color: #F4B000;
          color: #F4B000;
        }
      }
      
    }
  }

  // Styles for animation slideIn and Out
  #navbar {
    background-color: #010915;
    position: absolute;
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4; 
    line-height: 1.5;
    z-index: 1;
    transform: translateY(0px);
    transition: transform 500ms ease-in-out;
    z-index: 1;
  }

  #navbar.slideIn {
    transform: translateY(0px);
  }
  
  #navbar.slideOut {
    transform: translateY(-120%);
  }
  
  .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 82.5vh;
    width: 100%;
    max-width: 150rem;

    @media (max-width: $narrow-desktop) {
      flex-direction: column;
      justify-content: center;
    }

    .img-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 45%;
      height: 80%;

      @media (max-width: $narrow-desktop) {
        display: none;
      }

      img {
        height: 100%;
      }
    }

    .form-container {
      height: 80%;
      width: 50%;
      display: flex;
      justify-content: flex-start;
      color: #f4f4f4;
    
      @media (max-width: $narrow-desktop) {
        width: 85%;
        height: 85%;
      }
      
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #010915;
        border-radius: $border-radius;
        height: 100%;
        width: 55%;
    
        @media (max-width: $narrow-desktop) {
          width: 100%;
        }
    
        .form-description-header {
          font-weight: 400;
          font-size: 2.9vh;
          width: 80%;  
        }
    
        .form-label {
          text-align: left;
          height: $form-element-height;
          width: 80%;
          font-size: 2vh;
          font-weight: 400;
    
          .form-input {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: $border-radius;
            margin-top: 0.5vh;
            padding-left: 1vh;
            font-size: 1.8vh;
          }
        }
    
    
        .btn-wrapper {
          height: $form-element-height;
          width: 80%;
    
          .submit-btn {
            background: #F4B000;
            border: none;
            border-radius: $border-radius;
            width: 100%;
            height: 100%;
            font-size: 2vh;
            font-weight: 400;
          }
        }
      }

      .status-container {
        width: 80%;
        height: 80%;

        .status {
          font-weight: 500;
          font-size: 5vh;
        }

        .message {
          margin-top: 3vh;
          font-size: 2.6vh;
        }

        .instructions {
          margin-top: 3vh;
          font-size: 2.6vh;
        }
      }
    }
  }
}

.google-captcha{
  border: 8px solid red !important;
}


