$phablet: 750px;

.App {
  text-align: center;
  // background: blueviolet;

  @media (max-width: $phablet) {
    height: 100%;
    height: 70rem;
  }

  .App-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50vh;
    max-width: 1024px;
    margin-top: 6rem;

    @media (max-width: $phablet) {
      margin-top: 3rem;
    }

    .img-wrapper {
      width: 40%;

      // background-color: coral;

      @media (max-width: $phablet) {
        width: 100%;
      }

      .phone {
        height: 100%;

        @media (max-width: $phablet) {
          // margin-top: 3rem;
          margin-bottom: 6rem;
          width: 80%;
        }

        @media (max-width: 500px) {
          width: 80%;
          margin-bottom: 10rem;
        }
      }
    }

    .form-wrapper {
      display: flex;
      height: 100%;
      width: 100%;
      // background-color: cadetblue;
      @media (max-width: $phablet) {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        // background-color: green;
        justify-content: flex-end;
        margin-top: 0;
      }

      
      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        background: #010915;
        border-radius: 5px;
        
        .description {
          margin-top: 3rem;
          color: white;
          text-align: left;
          font-size: 1.5rem;
          width: 80%;
        }
        .form-input {
          margin-bottom: 1.5rem;
          border: none;
          text-decoration: none;
          text-align: left;
          border-radius: 5px;
          height: 2rem;
          width: 80%;
          font-size: 1rem;
          color: #1f242d;
          padding-left: 0.5rem;
        }

        .btn-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: left;
          text-align: center;
          width: 100%;

          .submit-btn {
            margin: 3rem 3rem;
            margin-bottom: 0;
            padding: 0.2rem;
            border: none;
            border-radius: 5px;
            color: white;
            background: #f4b000;
            height: 2.5rem;
            width: 250px;
            font-size: 1.5rem;
          }

          .messages {
            color: white;
            text-align: left;
            font-size: 1rem;
            font-weight: 500;
            margin: 1rem 3rem;
            width: 400px;
          }
        }
      }
    }
  }
}
