.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background: #12191f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: calc(15px + 2vmin);
}
.App-link {
  color: #61dafb;
}
.mission { 
  color: white;  
  background: #12191f;
  padding: 2vh; 
}
.mission p {
  padding: 0.5% 20%;
}
.inputs {
  padding: 1%;
  background: #12191f;
}
.inputs label {
  color: #c1c1c1;
  text-align: left;
  max-width: 10%;
}
.inputs input { 
  color: #12191f;
  min-width: 20vw;
  margin: calc(10px + 2vmin);
}
.submitButton {
  box-shadow: 3px 4px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 5px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}
.submitButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.submitButton:active {
  position: relative;
  top: 1px;
}


// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }


// .App-header {
//   background: #12191F;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
//   min-height: calc(15px + 2vmin);

// }

// .App-link {
//   color: #61dafb;
// }

// .mission {
//   color: white;
//   background: #12191F;
//   padding: 2vh;

//   p {
//     padding: .5% 20%;
//   }
// }

// .inputs {
//   padding: 1%;
//   background: #12191F;

//   label {
//     color: #c1c1c1;
//     text-align: left ;
//     max-width: 10%;
//   }

//   input {
//     color: #12191F;
//     min-width: 20vw;
//     margin: calc(10px + 2vmin);
//     }
// }

// .submitButton {
//   box-shadow: 3px 4px 0px 0px #cf866c;
//   background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
//   background-color: #d0451b;
//   border-radius: 5px;
//   border: 1px solid #942911;
//   display: inline-block;
//   cursor: pointer;
//   color: #ffffff;
//   font-size: 17px;
//   font-weight: bold;
//   padding: 12px 44px;
//   text-decoration: none;
//   text-shadow: 0px 1px 0px #854629;


//   &:hover {
//     background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
//     background-color: #bc3315;
//   }

//   &:active {
//     position: relative;
//     top: 1px;
//   };
// }